<h1>SIGN IN</h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="EMAIL ID">
    <input type="password" name="password" placeholder="PASSWORD">

    <input type="submit"></button>
</form>